<!DOCTYPE html>
<html lang="en">
<head>
	<base href="http://thomstradling.co.uk/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Thomas Stradling ~ Front-End Developer</title>
	<link rel="stylesheet" href="/assets/components/thomstradling.co.uk/css/web.min.css">
</head>
<body class="">
  <div class="site">
		<div class="view">
			<div id="carousel">
				<div class="slide slide-1 slide-active" id="home">
					<div class="slide_inner">
						<div class="block-text">
							<span>Hi!</span>
							<span>I'm Thom.</span>
							<span>A Front-End Developer based in Bournemouth.</span>
						</div>
					</div>
					<a href="#about" class="nav-button nav-button-next js-goto" data-index="2"><i class="fa fa-user" aria-hidden="true"></i>About Me</a>
				</div>

				<div class="slide slide-2" id="about">

					<div class="slide_scroll">
						<div class="slide_inner">
							<div class="blocks">
								<div class="blocks_row">
									<div class="block block_text block_left block-colour-3">
										<h2>About Me</h2>

										<p>Outside of work I like to unwind by working out either lifting weights or training Muay Thai. Previously I have played bass in a number of bands and also enjoy playing guitar. On an evening I also enjoy a game or two of Overwatch, and yes I main Hanzo. Aside from these I enjoy reading, watching Clint Eastwood movies and assembling increasingly large Lego sets.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#home" class="nav-button nav-button-prev js-goto" data-index="1"><i class="fa fa-home" aria-hidden="true"></i></a>
					<a href="#work" class="nav-button nav-button-next js-goto" data-index="3"><i class="fa fa-briefcase" aria-hidden="true"></i> My Work</a>
				</div>
				<div class="slide slide-3" id="work">

					<div class="slide_scroll">
						<div class="slide_inner">
							<div class="blocks">
                [[pdoResources?
                  &includeTVs=`project_image`
                  &limit=`0`
                  &tpl=`list.projects.project`
                ]]
							</div>
						</div>
					</div>

					<a href="#about" class="nav-button nav-button-prev js-goto" data-index="2"><i class="fa fa-user" aria-hidden="true"></i> About Me</a>
					<a href="#contact" class="nav-button nav-button-next js-goto" data-index="4"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Contact Me</a>
				</div>
				<div class="slide slide-4" id="contact">
					<div class="slide_scroll">
						<div class="slide_inner">
							<div class="blocks">
								<div class="block block_text block_right">
									<form action="[[~[[*id]]]]#contact" class="form js-form-validate" method="post">
										[[!FormIt?
											&hooks=`FormItSaveForm`
											&formName=`Contact Form`
											&validate=`name:required,email:email:required`
										]]
										<h2>Go on. Make me an offer I can't refuse.</h2>
										<div class="form-item">
											<input type="text" name="name" placeholder="Your name" value="[[!+fi.name]]" required data-msg-required="Please enter your name">
										</div>
										<div class="form-item">
											<input type="email" name="email" placeholder="Your email" value="[[!+fi.email]]" required data-msg-required="Please enter your email" data-msg-email="Please enter a valid email">
										</div>
										<div class="form-item">
											<textarea name="message" cols="30" rows="10" placeholder="Your message">[[!+fi.message]]</textarea>
										</div>
										<div class="form-buttons">
											<button type="submit" class="button button_block">Go</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<a href="#work" class="nav-button nav-button-prev js-goto" data-index="3"><i class="fa fa-briefcase" aria-hidden="true"></i> My Work</a>
				</div>
			</div>
		</div>
		<nav>
			<a href="#home" class="js-goto" data-index="1"><span>Home</span></a>
			<a href="#about" class="js-goto" data-index="2"><span>About</span></a>
			<a href="#work" class="js-goto" data-index="3"><span>Work</span></a>
			<a href="#contact" class="js-goto" data-index="4"><span>Contact</span></a>
		</nav>
	</div> <!-- .site -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
	<script>
		(function(){})();
		// var test = $('body').hasClass('no-3d');
		// if ($('body').hasClass('no-3d')) return;
		// Elements
		var elCarousel = document.getElementById('carousel'),
			elSlides = document.querySelectorAll('.slide');

		// Variables
		var panelSize = elCarousel.offsetWidth,
			numberOfPanels = 9,
			tz = Math.round( ( panelSize / 2 ) / Math.tan( Math.PI / numberOfPanels ) ),
			trsSpd = 0.3,
			currentPanel = 'home',
			carouselTrf = {};

		// Functions
		var funcApplyTransforms = function(el,trf){
			// My magical transform handler function
			// Use an object to track the transforms and apply to element
			var s = [];
			for (var k in trf) {
				if (trf[k]) s.push(k+'('+trf[k]+')');
			}
			el.style.transform = s.join(' ');
		};

		var funcSetup = function(){
			// Set the transforms for each slide
			for (var i = 0, l = elSlides.length; i < l; i++) {
				var deg = (360 / numberOfPanels) * i;
				// var s = window.getComputedStyle(elSlides[i], null);
				elSlides[i].style.transform = ' rotateY( '+deg+'deg ) translateZ( '+tz+'px )';
			}

			// Shift the carousel back
			carouselTrf.translateZ = (-tz)+'px';
			funcApplyTransforms(elCarousel, carouselTrf);
		};
		var funcReset = function(){
			// Reset the transforms for each slide
			for (var i = 0, l = elSlides.length; i < l; i++) {
				elSlides[i].style.transform = '';
			}

			// Reset the carousel
			elCarousel.style.transform = '';
		};

		// Media Queries
		var mqSlides;
		(function(){
			var updateSlides = function(mq){
				if (mq.matches) {
					funcSetup();
				} else {
					funcReset();
				}
			};
			if (window.matchMedia) {
				var mq = window.matchMedia( "(min-width: 768px)" );
				if (mq.addListener) mq.addListener(updateSlides);
				updateSlides(mq);
			}
		})();

		setTimeout(function(){
			elCarousel.classList.add('ready');
		}, 100);

		var funcGoToPanel = function(idx){
			carouselTrf.scale = '0.9';
			funcApplyTransforms(elCarousel, carouselTrf);
			setTimeout(function(){
				carouselTrf.rotateY = (-(idx-1) * (360 / numberOfPanels))+'deg';
				funcApplyTransforms(elCarousel, carouselTrf);

				setTimeout(function(){
					carouselTrf.scale = '1';
					funcApplyTransforms(elCarousel, carouselTrf);
				},trsSpd * 1000);
			}, trsSpd * 1000);

			for (var i = 0, l = elSlides.length; i < l; i++) {
				elSlides[i].classList.remove('slide-active');
			}
			elSlides[idx - 1].classList.add('slide-active');
		};

		var funcGoToPanelName = function(name){
			var elTgt = document.getElementById(name);
			var nodeList = Array.prototype.slice.call( document.getElementById('carousel').children );
			funcGoToPanel(nodeList.indexOf(elTgt) + 1);
		};

		if (window.location.hash) {
			funcGoToPanelName(window.location.hash.substr(1));
		}

		$('.js-goto')
			.on('click', function(event){
				event.preventDefault();
				var panel = this.href.substr(this.href.indexOf('#') + 1);
				if (currentPanel === panel) return;
				currentPanel = panel;
				history.pushState({page: panel}, panel, window.location.pathname+'#'+panel);
				funcGoToPanelName(panel);
			});

		$('.js-form-validate').validate();

		window.onpopstate = function(event){
			// console.log(event.state);
			if (event.state && event.state.page) {
				funcGoToPanelName(event.state.page);
			} else {
				funcGoToPanelName('home');
			}
		};
	</script>
</body>
</html>
