#carousel {
	transform-style: preserve-3d;

	@include min(768px) {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&.ready {
		transition: all 0.3s;
	}
}

.slide {
  backface-visibility: hidden;
  background-position: center center;
  background-size: cover;
  // min-height: 100vh;
  min-height: 100%;
  overflow: auto;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include min(768px) {
    position: absolute;
  }
}

.slide-active {
  // overflow: auto;
}

.slide_scroll {
  height: 100%;
  overflow: auto;
  position: relative;
}

.slide_inner {
  align-items: center;
  display: flex;
  min-height: 100%;
  padding: 20px;

  @include min(768px) {
    padding: 60px 120px;
  }
}

.slide-1 {
	background-color: $colour-1;
	align-items: center;

	@include min(768px) {
		background-image: url(/assets/components/thomstradling.co.uk/images/bournemouth.jpg);
	}

  .slide_inner {

		@include min(768px) {
			padding-bottom: 0;
			padding-top: 0;
		}
  }
}
.slide-2 {
	background-color: $colour-2;
	align-items: center;

	@include min(768px) {
		background-image: url(/assets/components/thomstradling.co.uk/images/profile.jpg);
	}
}
.slide-3 {
	background-color: $colour-3;

	@include min(768px) {
		background-image: url(/assets/components/thomstradling.co.uk/images/work.jpg);
	}
}
.slide-4 {
	background-color: $colour-4;

	@include min(768px) {
		background-image: url(/assets/components/thomstradling.co.uk/images/mail.jpg);
	}
}

%alert {
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;

	+ * {
		margin-top: 10px;
	}
}
.alert-success {
	@extend %alert;
	background-color: #EFE;
	border-color: #393;
	color: #393;
}
.alert-error {
	@extend %alert;
	background-color: #FEE;
	border-color: #F00;
	color: #F00;
}

.hidden {
	display: none;
}
