/*
# Settings (_settings)
*/
/*
## Variables

### General

$phi: 1.618033988749 - Golden ratio
*/
/*
### Colours

<span style="color: #333">$colour-base - #333</span> <span style="background: #333; color: #FFF;">&nbsp;$colour-base - #333&nbsp;</span>

<span style="color: #339">$colour-highlight - #339</span> <span style="background: #339; color: #FFF;">&nbsp;$colour-highlight - #339&nbsp;</span>

<span style="color: #339">$colour-link - #339</span> <span style="background: #339; color: #FFF;">&nbsp;$colour-link - #339&nbsp;</span>
*/
/*
### Fonts

$font-size - 13

$line-height - 1.4

<span style="font-family: sans-serif;">$font-base - sans-serif</span>

<span style="font-family: sans-serif;">$font-header - sans-serif</span>
*/
/*
### Layout

$width - 960

$columns - 24

$gutter - 12
*/
/*
## Functions

### em($size: $font-size, $context: $fs)

Will convert a pixel based size to an em value.
First value is the target size, the second value is the font-size of the context it is in.

Examples:
`em(26)` // 2em if base font-size is 13px
`em(18, 12)` // 1.5em
*/
/*
### lh($size: $font-size, $context: $fs)

Will provide the same function as 'em' above buth without appending 'em' to the result.
This makes it more suitable to use as a line-height value.

Examples:
`lh(26)` // 2 if base font-size is 13px
`lh(18, 12)` // 1.5
*/
/*
### fluid($columns: 1, $total-columns: $columns)

Will provide the % result of the first value divided by the second.
Suitable for working out columns and general % values.

Examples:
`fluid(2, 6)` // 12.5%
`fluid(10px, 960px)` // 1.041666666666667%
*/
/*
## Mixins

Mixins must to be called using @include (scss) or + (sass)

### vendor($property, $value)

Add vendor prefixes to a property and provide the value for the property

`@include vendor(box-shadow, 0 0 10px 0 #000);`

Outputs:
`-webkit-box-shadow: 0 0 10px 0 #000`
`-moz-box-shadow: 0 0 10px 0 #000`
`-ms-box-shadow: 0 0 10px 0 #000`
`-o-box-shadow: 0 0 10px 0 #000`
`box-shadow: 0 0 10px 0 #000`
*/
/*
### list-reset

Resets current list only

<pre>
ul {
	@include list-reset;
}
</pre>

Outputs:
<pre>
ul {
	margin: 0;
	padding: 0;
}
ul > li {
	list-style: none;
	list-style-image: none;
}
</pre>
*/
/*
### list-reset-full

Reset current and all child lists

<pre>
ul {
	@include list-reset-full;
}
</pre>

Outputs:
<pre>
ul, ul ul, ul ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	list-style-image: none;
}

</pre>
*/
/*
### clearfix

Clear an elements floated children

<pre>
div {
	@include clearfix;
}
</pre>

Outputs:
<pre>
div {
	*zoom: 1;
}
div:before, div:after {
	content: "";
	display: table;
}
div:after {
	clear: both;
}
</pre>
*/
/*
### keyframes($name)

Set animation keyframes over multiple browser extensions

<pre>
.box {
	@include keyframes(my-animation) {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}
</pre>

Outputs:
<pre>
.box {
	@-webkit-keyframes my-animation {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-moz-keyframes my-animation {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-ms-keyframes my-animation {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-o-keyframes my-animation {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@keyframes my-animation {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
}
</pre>
*/
/*
### hidden-full

Completely hide an element

<pre>
div {
	@include hidden-full;
}
</pre>

Outputs:
<pre>
div {
	display: none !important;
	visibility: hidden;
}
</pre>
*/
/*
### max($maxwidth: $width)

A simple max-width media query

<pre>
div {
	@include max(768px) {
		display: none;
	}
}
</pre>

Outputs:
<pre>
@media (max-width: 768px) {
	div {
		display: none;
	}
}
</pre>
*/
/*
### min($minwidth: $width)

A simple min-width media query

<pre>
div {
	@include min(768px) {
		display: block;
	}
}
</pre>

Outputs:
<pre>
@media (min-width: 768px) {
	div {
		display: block;
	}
}
</pre>
*/
/*
### pixel-ratio($pixelratio: 2, $basedpi: 96)

A simple pixel-ratio media query

$basedpi is used for fine control over the dpi query value

<pre>
div {
	@include pixel-ratio {
		background-image: url(image@2x.png);
	}
}
</pre>

Outputs:
<pre>
@media
	(-webkit-min-device-pixel-ratio: 2),
	(   min--moz-device-pixel-ratio: 2),
	(     -o-min-device-pixel-ratio: 2/1),
	(        min-device-pixel-ratio: 2),
	(                min-resolution: 192dpi),
	(                min-resolution: 2dppx) {
		div {
			background-image: url(image@2x.png);
		}
	}
</pre>
*/
/*
### generate($width: 10px, $height: 10px, $position: static)

Create generic styling for :before/:after

$height / $width / $position all control their namesake CSS properties

<pre>
div:after {
	@include generate;
}
</pre>

Outputs:
<pre>
div:after {
	content: "";
	overflow: hidden;
	text-indent: -9999em;
	display: block;
	width: 10px;
	height: 10px;
	position: static;
}
</pre>
*/
/*
### opacity($o: 0.5)

Handle standard & IE opacity

<pre>
div {
	@include opacity(.75);
}
</pre>

Outputs:
<pre>
div {
	opacity: .75;
	filter: alpha(opacity=75);
}
</pre>
*/
/*
### border-radius($val: 10px)

Friendly interface to vendor(border-radius)
*/
/*
### box-shadow($val: 0 0 10px #000)

Friendly interface to vendor(box-shadow)
Allows multiple comma separated values.
*/
/*
### gradient($direction:vertical, $start-color: #fff, $start-position: 0%, $end-color: #000, $end-position: 100%)

Create horizontal / vertical gradients

Note : Does not include IE9 data uri support

<pre>
div {
	@include gradient($start-color: #F00, $end-color: #0F0);
}
</pre>

Outputs:
<pre>
div {
	background-image: -moz-linear-gradient(top, #F00 0%, #0F0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F00), color-stop(100%, #0F0));
	background-image: -webkit-linear-gradient(top, #F00 0%, #0F0 100%);
	background-image: -o-linear-gradient(top, #F00 0%, #0F0 100%);
	background-image: -ms-linear-gradient(top, #F00 0%, #0F0 100%);
	background-image: linear-gradient(to bottom, #F00 0%, #0F0 100%);
	background-repeat: repeat-y;
}
</pre>
*/
/*
### transform($arguments)

Friendly interface to vendor(transform) w/backface-visibility: hidden
*/
/*
### transition($arguments)

Friendly interface to vendor(transition)
*/
/*
### perspective($val: 0)

Friendly interface to vendor(perspective)
*/
/*
### perspective-origin($val: 50% 50%)

Friendly interface to vendor(perspective-origin)
*/
/*
### transform-origin($val: 50% 50%)

Friendly interface to vendor(transform-origin)
*/
/*
### transform-style($val: preserve-3d)

Friendly interface to vendor(transform-style)
*/
/*
### Placeholders
*/
/*
### boxes($cols: 3, $gutter: 10px, $selector: ".col")

Set the container and its children (as  selected by the selector argument) to be a set of columns.
*/
/*
## Extend

Use these placeholder styles with @extend.

### %debug

Used to highlight items via background-color.
Can be useful for debugging.
*/
/*
### %ellipsis

If the element has overflowing text the text will be truncated and an ellipsis appended to the end.
*/
/*
### %ir

Use when setting an element such as an input button to use a background-image.

Not recommended to use this method unless necessary.
Try and use appropriate elements where possible (`<input type="image" />` for example).
*/
/*
### %clearfix

@extend interface for @include clearfix;
*/
.wrap, .header-site, .footer-site, .nav-main, .split-3, .form-item, .home-boxes, .post {
  *zoom: 1;
}
.wrap:before, .header-site:before, .footer-site:before, .nav-main:before, .split-3:before, .form-item:before, .home-boxes:before, .post:before, .wrap:after, .header-site:after, .footer-site:after, .nav-main:after, .split-3:after, .form-item:after, .home-boxes:after, .post:after {
  content: "";
  display: table;
}
.wrap:after, .header-site:after, .footer-site:after, .nav-main:after, .split-3:after, .form-item:after, .home-boxes:after, .post:after {
  clear: both;
}

/*
### %list-reset

@extend interface for @include list-reset;
*/
.carousel-wrap .carousel {
  margin: 0;
  padding: 0;
}
.carousel-wrap .carousel > li {
  list-style: none;
  list-style-image: none;
}

/*
### %list-reset-full

@extend interface for @include list-reset-full;
*/
/*
# Normalize (_normalize)

normalize.css v1.0.1 | MIT License | git.io/normalize

Global reset. This file should not be edited.

*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/*
# Base styles: opinionated defaults (_base)
*/
html,
button,
input,
select,
textarea {
  color: #36454f;
}

body.site {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/*
 * Text Reset
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 0 .5em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

p {
  margin: 0 0 1em;
}

/*
 * Links
 */
a {
  color: #cc7877;
  text-decoration: none;
}

/* Text Alignment */
.justifyleft {
  text-align: left;
}

.justifyright {
  text-align: right;
}

.justifyfull {
  text-align: justify;
}

.justifycentre {
  text-align: center;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

.hide {
  display: none;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
	=========
	No Script
	=========
*/
.site-alert {
  background: #FFF;
  border-bottom: 2px solid #F00;
  display: block;
  font-family: sans-serif;
  font-size: 0.92308em;
  left: 0;
  padding: 5px 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* No Script */
.full {
  position: relative;
  width: 100%;
}

.wrap, .header-site, .footer-site, .nav-main {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
@media (min-width: 1056px) {
  .wrap, .header-site, .footer-site, .nav-main {
    margin: auto;
    width: 960px;
  }
}

@media (min-width: 768px) {
  .left-col {
    float: left;
    padding-bottom: 1px;
  }
}

@media (min-width: 768px) {
  .main-col {
    float: left;
  }
}

.mobile-col-1 {
  width: 25%;
}

.mobile-col-2 {
  width: 50%;
}

.mobile-col-3 {
  width: 75%;
}

.mobile-col-4 {
  width: 100%;
}

@media (min-width: 768px) {
  .tablet-col-1 {
    width: 12.5%;
  }
}

@media (min-width: 768px) {
  .tablet-col-2 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .tablet-col-3, .left-col {
    width: 37.5%;
  }
}

@media (min-width: 768px) {
  .tablet-col-4 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .tablet-col-5, .main-col {
    width: 62.5%;
  }
}

@media (min-width: 768px) {
  .tablet-col-6 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .tablet-col-7 {
    width: 87.5%;
  }
}

@media (min-width: 768px) {
  .tablet-col-8 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .desktop-col-1 {
    width: 8.3333%;
  }
}

@media (min-width: 960px) {
  .desktop-col-2 {
    width: 16.6666%;
  }
}

@media (min-width: 960px) {
  .desktop-col-3 {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .desktop-col-4, .left-col {
    width: 33.3333%;
  }
}

@media (min-width: 960px) {
  .desktop-col-5 {
    width: 41.6666%;
  }
}

@media (min-width: 960px) {
  .desktop-col-6 {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .desktop-col-7 {
    width: 58.3333%;
  }
}

@media (min-width: 960px) {
  .desktop-col-8, .main-col {
    width: 66.6666%;
  }
}

@media (min-width: 960px) {
  .desktop-col-9 {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .desktop-col-10 {
    width: 83.3333%;
  }
}

@media (min-width: 960px) {
  .desktop-col-11 {
    width: 91.6666%;
  }
}

@media (min-width: 960px) {
  .desktop-col-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mobile-only, .nav-select {
    display: none;
  }
}

.tablet-only {
  display: none;
}
@media (min-width: 768px) {
  .tablet-only {
    display: block;
  }
}
@media (min-width: 960px) {
  .tablet-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 960px) {
  .desktop-only {
    display: block;
  }
}

@media (min-width: 960px) {
  .not-desktop {
    display: none;
  }
}

.tablet-only-ib {
  display: none;
}
@media (min-width: 768px) {
  .tablet-only-ib {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  .tablet-only-ib {
    display: none;
  }
}

.desktop-only-ib {
  display: none;
}
@media (min-width: 960px) {
  .desktop-only-ib {
    display: inline-block;
  }
}

.tablet-up, .nav-main {
  display: none;
}
@media (min-width: 768px) {
  .tablet-up, .nav-main {
    display: block;
  }
}

.desktop-up {
  display: none;
}
@media (min-width: 960px) {
  .desktop-up {
    display: block;
  }
}

.split-3 {
  margin-left: -6px;
  margin-right: -6px;
}
.split-3 .col-1,
.split-3 .col-2,
.split-3 .col-3 {
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .split-3 .col-1,
  .split-3 .col-2 {
    float: left;
  }
}
@media (min-width: 768px) {
  .split-3 .col-1 {
    width: 33.33333%;
  }
}
@media (min-width: 768px) {
  .split-3 .col-2 {
    width: 66.66667%;
  }
}

/*
##  Object styles (_objects)

### Images
*/
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.oldie img {
  max-width: none;
}
img.right {
  float: right;
  margin: 0 0 16px 16px;
}
img.left {
  float: left;
  margin: 0 16px 16px 0;
}
img[style*="left"] {
  margin: 0 16px 16px 0;
}
img[style*="right"] {
  margin: 0 0 16px 16px;
}

.button, .button-primary, .button-cancel {
  background: transparent;
  border: 1px solid #36454f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.button:hover, .button-primary:hover, .button-cancel:hover {
  background: #EEE;
}

.button-primary {
  background: #cc7877;
  border-color: #cc7877;
  color: #FFF;
}
.button-primary:hover {
  background: #a13d3c;
}

.button-cancel {
  background: #36454f;
  border-color: #36454f;
  color: #FFF;
}

.video {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
.video iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay {
  background: url(/site/images/black-50.png);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.overlay-box {
  background: #FFF;
  display: none;
  left: 50%;
  margin-left: -250px;
  padding: 10px;
  position: absolute;
  width: 500px;
  z-index: 101;
}

.cookie {
  height: 0;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  background: #36454f;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -ms-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  transition: height 0.3s linear;
}
.cookie,
.cookie a {
  color: #FFF;
}
.cookie a {
  font-weight: 700;
}
.cookie .inner {
  text-align: center;
  border-bottom: 1px solid #36454f;
}
.cookie .lnk-accept-cookies {
  cursor: pointer;
  margin-left: 10px;
}
.cookie.show {
  height: 32px;
}
.cookie.hide {
  display: none !important;
  visibility: hidden;
}

textarea,
[type="text"],
[type="password"],
[type="datetime"],
[type="datetime-local"],
[type="date"],
[type="month"],
[type="time"],
[type="week"],
[type="number"],
[type="email"],
[type="url"],
[type="search"],
[type="tel"],
[type="color"] {
  border: 1px solid #36454f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

select {
  width: 100%;
}

:-moz-placeholder {
  color: #999;
  opacity: .25;
}

::-moz-placeholder {
  color: #999;
  opacity: .25;
}

::-webkit-input-placeholder {
  color: #999;
  opacity: .25;
}

:-ms-input-placeholder {
  color: #999;
  opacity: .25;
}

.niceselect-wrapper {
  background: #FFF;
  border: 1px solid #000;
  display: block;
  height: 2.30769em;
  line-height: 2.15385;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  /* This is applied when the user tabs to focus or hovers on a nice select element */
  /* Creates the arrow and positions it to the right */
  /* Make sure the line-height matches the height of .niceSelect including padding */
  /* The height must match the overall height of .niceSelect including padding */
}
.niceselect-wrapper.focus, .niceselect-wrapper:hover {
  border: 1px solid #333;
}
.niceselect-wrapper:after {
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "^";
  display: block;
  height: 0;
  margin-top: -3px;
  position: absolute;
  right: 1em;
  text-indent: -99999em;
  top: 50%;
  width: 0;
  z-index: 5;
}
.niceselect-wrapper .niceselect-text {
  display: block;
}
.niceselect-wrapper select {
  border: 1px solid #eee;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.form-item {
  margin-bottom: 10px;
}
.form-item label {
  display: block;
}

.checkbox label,
.checkbox input,
.radiobutton label,
.radiobutton input {
  display: inline-block;
  vertical-align: middle;
}
.checkbox label,
.radiobutton label {
  margin-left: 3px;
}

.form-buttons {
  margin-bottom: 10px;
  text-align: right;
}

.form-errors {
  background: #FEE;
  border: 1px solid #F00;
  color: #F00;
  padding: 10px;
}
.form-errors :last-child {
  margin-bottom: 0;
}

.carousel-wrap {
  overflow: hidden;
  position: relative;
}
.carousel-wrap .carousel {
  position: relative;
}
.carousel-wrap .carousel-item {
  float: left;
}

.hover {
  cursor: pointer;
}

.small {
  font-size: 0.69231em;
}

.xsmall {
  font-size: 0.61538em;
}

.large {
  font-size: 1.07692em;
}

.xlarge {
  font-size: 1.23077em;
}

@media only screen and (max-width: 768px) {
  .gt-ie9 .tbl-mobile, .gt-ie9 .tbl-mobile table, .gt-ie9 .tbl-mobile tbody, .gt-ie9 .tbl-mobile tr, .gt-ie9 .tbl-mobile td {
    display: block;
  }
  .gt-ie9 .tbl-mobile thead, .gt-ie9 .tbl-mobile th {
    display: none;
  }
}

/* ShareThis */
.sharethis span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url(/site/images/ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide img.slick-loading {
  background: white url(/site/images/ajax-loader.gif) center center no-repeat;
  padding-bottom: 100%;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/site/fonts/slick.eot");
  src: url("/site/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/site/fonts/slick.woff") format("woff"), url("/site/fonts/slick.ttf") format("truetype"), url("/site/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
.slick-prev:before {
  content: '\8592';
}

.slick-next {
  right: -25px;
}
.slick-next:before {
  content: '\8594';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\8226';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

/*
	=======
	Modules
	=======

	Module level CSS should be placed in this file.
	Modules are self-contained sections of markup.
	Modules can exist with other modules.
	Modules can often include objects.

	EXAMPLES::

	"Site Header" would be a module.

	"Top Navigation" may exist within the "Site Header" markup but it is capable of existing as its own module and so should be done separately.
*/
/*
	===========
	Site Header
	===========
*/
.header-site {
  border-bottom: 1px solid rgba(54, 69, 79, 0.5);
  padding: 20px 0;
}
.header-site .logo {
  color: #36454f;
  display: block;
  font-size: 4.61538em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header-site .logo {
    display: inline-block;
  }
}

/* Site Header */
/*
	===========
	Site Footer
	===========
*/
.footer-site {
  border-top: 1px solid #cc7877;
  padding: 10px 0;
}

/* Site Footer */
/*
	==========
	Navigation
	==========
*/
.nav-main {
  border-bottom: 1px solid rgba(54, 69, 79, 0.5);
  padding: 20px 0;
}
.nav-main > ul > li {
  display: block;
}
@media (min-width: 768px) {
  .nav-main > ul > li {
    display: inline-block;
  }
}
.nav-main > ul > li:first-child > a {
  padding-left: 0;
}
.nav-main > ul > li:last-child > a {
  padding-right: 0;
}
.nav-main > ul > li > a {
  padding: 5px 0;
}
@media (min-width: 768px) {
  .nav-main > ul > li > a {
    padding: 0 10px;
  }
}
.nav-main ul ul {
  padding-left: 10px;
}
@media (min-width: 768px) {
  .nav-main ul ul {
    left: -999em;
    padding-left: 0;
    position: absolute;
  }
}
.nav-main li:hover > ul {
  left: auto;
}
.nav-main a {
  display: block;
}

.nav-select select {
  display: block;
  width: 100%;
}

.nav-side ul ul {
  padding-left: 10px;
}
.nav-side a {
  display: block;
  padding: 5px 0;
}

/* Navigation */
/*
	======
	Search
	======
*/
@media (min-width: 768px) {
  .form-search {
    float: right;
    width: 33.3333%;
  }
}

/* Search */
/*
	========
	Carousel
	========
*/
.carousel .carousel-item {
  height: 200px;
}
@media (min-width: 768px) {
  .carousel .carousel-item {
    height: 300px;
  }
}
.carousel .carousel-item.item-1 {
  background: #FCC;
}
.carousel .carousel-item.item-2 {
  background: #CFC;
}
.carousel .carousel-item.item-3 {
  background: #CCF;
}
.carousel .carousel-item.item-4 {
  background: #FCF;
}
.carousel .slick-next {
  right: 10px;
}
.carousel .slick-prev {
  left: 10px;
}
.carousel .wrap, .carousel .header-site, .carousel .footer-site, .carousel .nav-main {
  height: 200px;
}
@media (min-width: 768px) {
  .carousel .wrap, .carousel .header-site, .carousel .footer-site, .carousel .nav-main {
    height: 300px;
  }
}
.carousel .wrap:before, .carousel .header-site:before, .carousel .footer-site:before, .carousel .nav-main:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.carousel .wrap .text, .carousel .header-site .text, .carousel .footer-site .text, .carousel .nav-main .text {
  display: inline-block;
  vertical-align: middle;
}
.carousel .text {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 33.3333%;
}

/* Carousel */
/*
	===========
	Breadcrumbs
	===========
*/
.breadcrumbs {
  padding: 1em 0;
}

/* Breadcrumbs */
/*
	==========
	Home Boxes
	==========
*/
@media (min-width: 768px) {
  .home-boxes {
    margin-left: -10px;
    margin-right: -10px;
  }
  .home-boxes .col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333%;
  }
  .home-boxes .col:nth-child(n) {
    clear: none;
  }
  .home-boxes .col:nth-child(3n+1) {
    clear: left;
  }
}
.home-boxes .col {
  margin-bottom: 10px;
}
.home-boxes .inner {
  background: #EEF;
}

/* Home Boxes */
/*
	========
	Articles
	========
*/
.post {
  border-bottom: 1px solid rgba(54, 69, 79, 0.5);
  padding: 20px 0;
}
.post :last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .post .image {
    float: left;
    max-width: 180px;
  }
}
@media (min-width: 768px) {
  .post .image + .text {
    margin-left: 200px;
  }
}

.form-comment textarea {
  height: 101px;
}

/* Articles */
/*
	=======
	Content
	=======
*/
.content {
  padding: 24px 0;
}

/* Content */
html {
  font-size: 0.8125em;
  line-height: 1.4;
}

body {
  line-height: normal;
}

h1 {
  font-size: 1.92308em;
}

.mceEditor h1 {
  font-size: 1.92308em;
}
