@import "settings";
@import "normalize";
@import "base";
@import "layout";
@import "objects";
@import "modules";
@import "inbox";

html { font-size: em($font-size, 16); line-height: 1.4; }
body { line-height: normal; }

h1 { font-size: em(25); }
.mceEditor h1 { font-size: em(25); }